.form {
    display: flex;
    border-top: 2px solid #c07ee1;
    border-radius: 0 0 4px 4px;
  }
  
  .input {
    background-color: rgb(181, 181, 181);
    border: none;
    border-radius: 0 0 0 4px;
    padding: 5%;
    width: 80%;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    border: none;
    position: relative;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #0a9d4c;
    padding: 20px;
    display: inline-block;
    border: none;
    width: 20%;
    border-radius: 0 0 4px 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
  }

  .sendButton:after {
    content: "";
    background: lightgreen;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-top: -120%;
    margin-left: -20px !important;
    opacity: 0;
    transition: all 0.8s;
  }

  .sendButton:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }